@import "tailwindcss";

@theme {
  --color-primary: #ED1C24;
  --color-secondary: #005BBB;
  --color-whatsapp: #25D366;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}